@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div{
    @apply dark:text-white;
  }

  h1 {
    @apply md:text-4xl text-4xl font-bold;
  }

  h2 {
    @apply md:text-3xl text-2xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  p {
    @apply text-lg md:text-xl font-heading;
  }

  li {
    @apply text-lg md:text-xl font-heading mt-4;
  }

  img{
    @apply mx-auto md:w-[clamp(200px,50%,800px)] h-auto w-full;
  }
  button {
    @apply font-accent;
  }
  :root {
    @apply font-body;
  }
}

@layer components {
  .title{
    @apply text-s-3 dark:text-p-3 w-2/3 lg:text-5xl md:text-4xl;
  }
.header-top{
  @apply fixed top-0 left-0 w-full p-4 h-fit flex flex-row items-center justify-center bg-gradient-to-b from-white via-white dark:bg-gradient-to-b dark:from-black dark:via-black;
}
  .header-bg{
    @apply absolute w-full h-full -z-10 top-4 left-0 bg-gradient-to-b from-white via-white dark:bg-gradient-to-b dark:from-black dark:via-black;
  }
.close-x{
  @apply hidden sm:block text-black w-12 h-12 justify-self-end cursor-pointer hover:text-s-3 dark:text-white dark:hover:text-p-3;
}
  .body-bg{
    @apply flex flex-col w-full md:w-[clamp(500px,80vw,1500px)] mx-auto bg-white dark:bg-black py-10 px-10 gap-10;
  }
  .body-sides{
    @apply w-full bg-s-3 dark:bg-p-3;
  }
  .tldr{
    @apply cursor-pointer hover:text-s-3 dark:hover:text-p-3;
  }
  .tldr-box{
    @apply w-full flex flex-col md:flex-row space-x-4 bg-s-5 h-auto mt-20 dark:bg-p-5;
  }
  .tldr-button{
    @apply border-2 hover:border-s-3 border-black dark:hover:border-p-3 p-4 w-40 rounded-xl text-black hover:bg-s-3 dark:hover:bg-p-3 hover:text-white active:bg-s-4 active:hover:bg-p-4;
  }
  .intro-card{
    @apply p-4 border-s-3 rounded-xl dark:border-p-3 w-60 h-auto flex flex-col items-center text-center gap-4 justify-center;
  }
  .nav-underline{
    @apply absolute bottom-[-1px] left-0 right-0 h-2 bg-s-3 dark:bg-p-3
  }
  .nav-info{
    @apply bg-white dark:bg-black p-4 rounded-tr-xl h-20
  }
  .tabs{
    @apply flex flex-grow flex-nowrap w-full items-center justify-start;
  }
  .nav-li{
    @apply border-b-[1px] w-full p-4 text-center relative bg-white cursor-pointer h-6 flex justify-center items-center flex-1 min-w-0 select-none;
  }
  .nav-li:hover{
    @apply bg-s-5 dark:bg-p-5;
  }
  .nav-li.selected{
    @apply bg-s-5 dark:bg-p-5;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-s-5 dark:bg-p-5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
    @apply dark:bg-p-3 bg-s-3
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply dark:bg-p-4 bg-s-4
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */